/* --FOOTER-- */

footer {
    background-color: rgba(215, 216, 216, 0.377);
    grid-column: 1/4;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;

    .redesSociales {
        width: 4rem;
        margin: 0.8rem;
    }
}

@media only screen and (max-width: 320px) {
    footer .redesSociales {
        width: 2rem;
        margin: 0.5rem;
    }
}